#container {
    width: 66%;
    height: 66%;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(rgba(190,190,190,.6),rgba(190,190,190,.6));
    background-repeat: no-repeat;
}

#logo {
    margin-top: 20px;
    font-size: 44px;
}

#menu {

}

#footer {

}

body {
    background-image: url("/images/ziola.jpg");
    background-size: cover;
    font-family: Verdana;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}


h1 {
    margin: auto;
    font-size: 45px
}


a:link {
    color: firebrick;
}

a:visited {
    color: firebrick;
}

a:hover {
    color: green;
}

p {
    font-style: oblique;
}

ul > li
{
  float: left;
    width: 150px;
    height: 50px
}