<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Add specific</title>
    <link th:href="@{/style.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<h1>Add specific</h1>
<form method="post" th:action="@{/specific/add}" th:object="${specific}">

    <input type="text" th:field="*{name}" placeholder="name"/><br>
    <select th:field="*{unit}">
        <option th:value="${unit}"
                th:each="unit: ${T(pl.kinga.treatment.Unit).values()}"
                th:text="${unit.name()}">
        </option>
    </select>

    <input type="number" step="0.1" th:field="*{quantity}" placeholder="quantity"/>
    <input type="text" th:field="*{dosage}" placeholder="dosage"/>
    <select th:field="*{treatmentWay}">
        <option th:each="treatmentWay: ${treatmentWay}" th:text="${treatmentWay.name}" th:value="${treatmentWay.id}">
        </option>
    </select>
    <input type="submit" value="add!"/>
</form>

<a href="/">Back to main page</a>
</body>
</html>