<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Dodaj uzytkownika</title>
    <link th:href="@{/style.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<h1>Dodaj użytkownika</h1>
<form method="post" th:action="@{/uzytkownik/dodaj}" th:object="${uzytkownik}">

    <input type="text" th:field="*{imie}" placeholder="imie"/>
    <input type="text" th:field="*{nazwisko}" placeholder="nazwisko"/>
    <input type="date" th:field="*{data_urodzenia}" placeholder="data urodzenia"/>
    <input type="text" th:field="*{email}" placeholder="e-mail"/>

    <select class="form-control" th:field="*{is_newsletter}">
        <option th:value="true">true</option>
        <option th:value="false">false</option>
    </select>

    <input type="submit" value="dodaj!"/>
</form>
<div>
<a href="/">Powrót do strony głównej</a>
</div>
</body>
</html>