
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aktualna pogoda</title>
</head>
<body>
<h1>Aktualna pogoda
</h1>
<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-8 col-lg-6 col-xl-4">
                <h3 class="mb-4 pb-2 fw-normal">Sprawdź prognozę pogody</h3>
                <div class="input-group rounded mb-3">
                    <input type="search" class="form-control rounded" placeholder="City" aria-label="Search"
                           aria-describedby="search-addon"/>
                    <a href="/weather" type="button">
            <span class="input-group-text border-0 fw-bold" id="search-addon">
              Sprawdź!
            </span>
                    </a>
            </div>
        </div>
    </div>
    </div>
</section>

</body>
</html>