<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Modification</title>
</head>
<body>
<img src="/images/logo.jpg" style="float: left; margin-right: 20px; width: 250px;" />
<!--  <p th:if="${showErrorMessage}">Incorrect login!</p>-->
<h1>User modify</h1>
<form action="#" method="post" th:action="@{/user/modify}" th:object="${user}">

    <input th:field="*{id}" type="hidden" placeholder="Id"/><br/>
    <p th:errors="*{lastName}">first Name errors</p>
    <input th:field="*{lastName}" type="text" placeholder="Last name"/><br/>
    <p th:errors="*{firstName}">last Name errors</p>
    <input th:field="*{firstName}" type="text" placeholder="First name"/><br/>
    <p th:errors="*{dateOfBirth}">dateOfBirth errors</p>
    <input th:field="*{dateOfBirth}" type="date" placeholder="Date of Birth"/><br/>
    <p th:errors="*{email}">email errors</p>
    <input th:field="*{email}" type="email" placeholder="E-mail"/><br/>
<!--    <p th:errors="*{isNewsletter}">is Newsletter errors</p>-->
<!--    <input th:field="*{isNewsletter}" type="checkbox" placeholder="is Newsletter"/><br/>-->
    <p th:errors="*{userName}">userName errors</p>
    <input th:field="*{userName}" type="text" placeholder="User name"/><br/>
    <p th:errors="*{password}">Password errors</p>
    <input th:field="*{password}" type="password" placeholder="Password"/><br/>
    <input type="submit" value="Modify"/>
</form>

</body>
</html>
