<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aktualna pogoda</title>
</head>
<body>
<section>
<table th:object="${city}">
    <tr>
        <td> temperatura [stC]</td>
        <td>ciśnienie [Ps]</td>
        <td>wilgotność</td>
        <td>siła wiatru</td>
    </tr>
    <tr>
        <td th:text="${city.getMain().getTemp()}">temperatura</td>
        <td th:text="${city.getMain().getPressure()}">ciśnienie</td>
        <td th:text="${city.getMain().getHumidity()}">wilgotność</td>
        <td th:text="${city.getWind().getSpeed()}">siła wiatru</td>
    </tr>
</table>

</section>

</body>
</html>