<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf"
      link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Naturalne metody leczenia</title>
    <link th:href="@{/style.css}" rel="stylesheet" type="text/css"/>

</head>

<body>
<div id="container">
    <h1>Naturalne metody leczenia
    </h1>
    <p>Natura wyposażyła nas we wszystko, czego potrzebujemy, aby radzić sobie z dolegliwościami, które mogą się
        pojawić, skorzystajmy z tego.
        Są to rozwiązania lepiej odpowiadające naszym ciałom niż ich syntetyczne odpowiedniki.
    </p>

    <div id="logo">

    </div>

    <div id="menu">

    </div>
    <h3>

    </h3>

    <p>
        Koncerny farmaceutyczne prowadzą testy i badania na temat skuteczności naturalnej substancji dla danej
        choroby.
        Gdy stwierdzą, że wyniki są pozytywne, tworzą syntetyczną wersję tej samej substancji i opatentowują tak,
        aby produkt nadawał się do sprzedaży. Wersja syntetyczna może działać szybciej, czasem może także działać
        lepiej
        – jeśli substancja naturalna jest złej jakości. Ale koszty zdrowotne, które ponosimy, używając wersji
        syntetycznej,
        często nie są warte żadnego kompromisu.
    </p>
    <div id="footer">
        Twoje zdrowie, w Twoich rękach! Zamień chemię na naturalne środki a Twój organizm Ci podziękuje.
    </div>

    <div>
        <h1>
            <a href="/metodyLeczenia">ZOBACZ DOSTĘPNE SPOSOBY LECZENIA
            </a>
        </h1>
    </div>

</div>
</body>
</html>